@use 'sass:map';

$outlines: (
  v1: #ff3b3b,
  v2: #a0a0a0,
  v3: #df6d2b,
  v4: #4fa825,
);

$states: (
  new: var(--jiten-accent, #D8B9FA),

  blacklisted: #777,
  locked: #777,
  suspended: #aaa,

  known: #70c000,
  never-forget: #70c000,

  due: orangered,
  failed: red,
  learning: #5ea780,
);

$grades: (
  again: map.get($outlines, v1),
  something: map.get($outlines, v1),
  hard: map.get($outlines, v3),
  good: var(--jiten-accent, #D8B9FA),
  easy: map.get($outlines, v4),
  fail: map.get($outlines, v1),
  pass: map.get($outlines, v4),
);

$decks: (
  mining: var(--jiten-accent, #D8B9FA),
  never-forget: map.get($states, known),
  blacklist: map.get($states, blacklisted),
  suspend: map.get($states, suspended),
  forget: map.get($outlines, v1),
);

$buttons: (
  button-background-color: #214177,
  button-text-color: #ddd,
  button-shadow-color: #000,
  button-focused-shadow-color: transparent,
  button-hover-shadow-color: transparent,

  button-focused-border-color: var(--jiten-accent, #D8B9FA),
  button-hover-border-color: var(--jiten-accent, #D8B9FA),
);

$inputs: (
  input-text-color: #aaa,
  input-background-color: #191919,
  input-border-color: #3a3a3a,
  input-focused-border-color: var(--jiten-accent, #D8B9FA),

  input-box-shadow-color: #111,
  input-focused-box-shadow-color: transparent,

  checkbox-color: var(--jiten-accent, #D8B9FA),
  checkbox-background-color: #111,
  checkbox-border-color: #444,
  checkbox-focused-border-color: var(--jiten-accent, #D8B9FA),
  checkbox-box-shadow-color: #000,
  checkbox-focused-box-shadow-color: var(--jiten-accent, #D8B9FA),
  checkbox-focused-text-underline-color: #aaa,
);

$colors: (
  background-color: var(--jiten-bg, #181818),
  text-color: #bbb,

  link-color: var(--jiten-accent, #D8B9FA),
  link-underline-color: #555,

  accordion-border-color: #444,
);
